.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.popup_hidden {
  display: none;
}

.popup__container {
  width: 430px;
  max-height: 80vh;
  max-width: 95vw;
  height: auto;
  width: auto;
  position: fixed;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 34px 36px 36.5px;
  box-shadow: 0px 0px 25px 0px #00000026;
  position: relative; /* importante para o botão fechar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__close-button {
  position: absolute;
  top: -32px;
  right: -32px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(../src/images/close-button.png)
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.popup__title {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 0;
  margin: 0 0 20px 0;
  align-self: flex-start;
}

.popup__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.popup__input {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0;
  height: 27.43px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.popup__input:invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.popup__error {
  color: red;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  height: 14px; /* para manter espaço mesmo sem texto */
}

.popup__button {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 13.5px 124px 18.5px;
  border-radius: 2px;
  border: none;
  transition: opacity 0.2s ease;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button_inactive {
  opacity: 0.2;
  background-color: #fff;
  color: black;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: calc(60% - 72px);
  }
  .popup__button {
    padding: 14px 40.34%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    width: calc(88.13% - 72px);
    padding: 25px 22px;
  }
  .popup__field:first-of-type {
    margin-top: 20px;
  }
  .popup__field:nth-of-type(2) {
    margin-top: 30px;
  }
  .popup__button {
    margin-top: 10px;
    font-size: 14px;
    padding: 14px 96px;
    width: auto;
  }
}
